.foto-wrapper{
    max-width: 60px;
    height: 60px;
    object-fit: cover;
}

.custom-btn {
    border: none;
    background-color: transparent;
}

.form-comment{
    height: 400px;
    background-color: #ddd;
}
